body{
    margin-top: 0.88rem;
    border-top: 0.08rem solid #eee;
    padding-bottom: 3.2rem;
    background: #fff url(../images/about/bottom.png) no-repeat right bottom;
    background-size: 3.86rem 3.3rem;
}
#content{
    margin:0 0.3rem;
    font-size: 0.22rem ;
    color: #666;
    line-height: 0.4rem;
    background: #fff url(../images/about/content.png) no-repeat center center;
    background-size: 100% 100%;
    padding:0 0.7rem;
}
