body{
    margin-top: 0.88rem;
    margin-bottom: 1rem;
    border-top: 0.06rem solid #eee;
}
.content{
    margin :0 0.3rem;
    padding:0.6rem 0.4rem;
    background:url(../images/loan/window.png) no-repeat center center;
    background-size: 100% 100%;
}
footer{
    font-size: 0.34rem;
    background: #e8373b;
    line-height: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}