body{
  padding-top: 0.88rem;
}
h1{
    margin-top: 0.88rem;
    font-size: 0.4rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}
#content{
    border-top: 0.1rem solid #eee;
    padding:0 1.2rem;
}
ul{
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
}
ul li{
    line-height: 0.4rem;
}
#content div button{
    width:1.9rem;
    height: 0.76rem;
    line-height: 0.76rem;
    font-size: 0.32rem;
    border:none;
}
#content div button:first-child{
    background:#fff;
    color: #e8373b;
    border:1px solid #e8373b;
    border-radius: 0.1rem;
    float:left;
}
#content div button:last-child{
    background:#e8373b;
    color: #fff;
    border:1px solid #fff;
    border-radius: 0.1rem;
    float: right;
}