header{
    width:100%;
    box-sizing: border-box;
    height: 0.88rem;
    line-height: 0.88rem;
    padding:0 0.3rem;
    font-size: 0.32rem;
    color:#fff;
    background: #e8373b;
    position: fixed;
    top:0;
    z-index: 99;
    border-bottom: 1px solid #eee;
}
header a:first-child{
    display: inline-block;
    float: left;
    width: 0.22rem;
    height: 0.42rem;
    background: url(../images/login/back.png) no-repeat center center;
    background-size:0.22rem 0.42rem ;
}
header a{
    margin:0.24rem 0;
}
body{
    margin-top: 0.88rem;
}
form{
    padding-top: 0.5rem;
}
#first{
    margin:0 1rem;
    padding-left: 0.55rem;
    background: #fff url(../images/login/name.png) no-repeat left center;
    background-size:0.3rem 0.36rem ;
    border-bottom: 1px solid #e8373b;
    height: 0.6rem;
    line-height: 0.6rem;
}
#second{
    margin:0 1rem;
    padding-left: 0.55rem;
    background: #fff url(../images/login/password.png) no-repeat left center;
    background-size:0.3rem 0.36rem ;
    border-bottom: 1px solid #e8373b;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.8rem;
}
#pass{
    margin:0 1rem;
    padding-left: 0.55rem;
    background: #fff url(../images/login/password.png) no-repeat left center;
    background-size:0.3rem 0.36rem ;
    border-bottom: 1px solid #e8373b;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.8rem;
}
input[type="text"],input[type="password"]{
    font-size: 0.29rem;
    border:none;
    background: #fff;
    color: #e8373b;
    width:2rem;
}
#third{
    margin:0 1rem;
    margin-top: 0.5rem;
}
input[type="submit"]{
    background: #e8373b;
    width: 100%;
    color: #fff;
    height: 0.84rem;
    line-height: 0.84rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.34rem;
}
input[type="button"]{
    background: #fff;
    width: 100%;
    color: #e8373b;
    height: 0.84rem;
    line-height: 0.84rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.34rem;
    border:1px solid #e8373b;
}
#forth{
    margin:0.5rem 1rem;
    color: #e8373b;
}
#fifth{
    margin-left: 0.8rem;
    margin-top: 1.6rem;
}
#fifth span{
    display: inline-block;
    width: 2rem;
    height: 0.02rem;
    background: #999;
    vertical-align: middle;
}
#footer li{
    padding:0 0.35rem;
}
#footer li img{
    width: 0.6rem;
    height: 0.6rem;
}
#send{
    background: #e8373b;
    color: #fff;
    font-size:0.29rem ;
    text-align: center;
    line-height: 0.76rem;
    width: 2rem;
    border-radius: 0.1rem;
    position: relative;
    bottom: 0.2rem;
}
#have{
    margin:0 1rem;
    margin-top: 0.5rem;
}
#check{
    margin:0 1rem;
    margin-top: 0.5rem;
}
#check label{
    font-size: 0.25rem;
    color: #e8373b;
}
#check label span{
    color:blue;
}