body{
    padding-top: 0.88rem;
    padding-bottom: 0.8rem;
}
header{
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    font-size: 0.32rem;
    height: 0.88rem;
    background: #fff;
    position: fixed;
    top:0;
    z-index: 99;
}
header>span:first-child{
    width: 0.23rem;
    height: 0.42rem;
    background: url(../images/companyService/back.png) no-repeat center center;
    background-size:100% 100% ;
}
header>div:last-child span:first-child{
    display: inline-block;
    width:0.43rem;
    height: 0.41rem;
    background: url(../images/product/share.png) no-repeat center center;
    background-size: 100% 100%;
}
header>div:last-child span:last-child{
    display: inline-block;
    width:0.33rem;
    height: 0.42rem;
    background: url(../images/companyService/message.png) no-repeat center center;
    background-size: 100% 100%;
    margin-left: 0.2rem;
}
